/* NAVBAR CONTAINER */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #c87b5e;
  border-bottom: 1px solid #eee;
  position: relative;
}

/* LOGO */
.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

/* NAV LINKS (Desktop) */
.navLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navLinks li a {
  text-decoration: none;
  font-weight: 500;
}

/* HAMBURGER ICON (Hidden on Desktop) */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.bar,
.barOpen {
  width: 25px;
  height: 3px;
  background: black;
  transition: 0.3s;
}

/* MOBILE RESPONSIVE SETTINGS */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navLinks {
    position: absolute;
    top: 70px;
    right: 0;
    background: rgb(239, 233, 233);
    width: 200px;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: none;
  }

  .open {
    display: flex;
  }
}
